*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#142,#56565f);
    padding: 10px;
}
.TDL{
background:rgb(206, 202, 202);
width: 500px;
height: 300px;
margin: 10%;
border-radius: 30px;
}

#icon{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    padding-top: 10px;
}
h1{
   text-align: center;
   color: rgb(119, 17, 17);
   font-size:60px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-shadow: 3px 1px 2px rgb(103, 92, 93);
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #a8a8b3;
    border-radius: 30px;
    padding-left: 20px;
    margin:25px;
    width: 420px;
    height: 40px;
 }
 
input{
flex: 1;
border: none;
outline: none;
background: transparent;
padding: 10px;
font-weight: 14px;
 }
button{
    border:none;
    outline: none;
    padding: 16px 30px;
    background: rgb(190, 56, 56);
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    height: 50px;

}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 60px;
    cursor: pointer;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image:url(check/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color:black;
    text-decoration: line-through;
}

ul li.checked::before{
background-image: url(check/5610944.png)
}
ul li span{
    position: absolute;
    right: 50px;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: rgb(5, 5, 5);
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #a8a8b8;
}


















